<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.canteen.adminService.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.canteen.common.pojo.Cart" >
    <id column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="all_price" property="allPrice" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, user_id, all_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.canteen.common.pojo.Cart" >
    insert into cart (cart_id, user_id, all_price
      )
    values (#{cartId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{allPrice,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.canteen.common.pojo.Cart" >
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="allPrice != null" >
        all_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="allPrice != null" >
        #{allPrice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.canteen.common.pojo.Cart" >
    update cart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="allPrice != null" >
        all_price = #{allPrice,jdbcType=INTEGER},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.canteen.common.pojo.Cart" >
    update cart
    set user_id = #{userId,jdbcType=BIGINT},
      all_price = #{allPrice,jdbcType=INTEGER}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>