<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.canteen.adminService.dao.CanteenMapper" >
  <sql id="canteenColumns"> canteen_id,canteen_label,canteen_name,canteen_des,canteen_image,canteen_mark_number,sales,canteen_mark</sql>
  <delete id="deleteCanteen">
    delete from canteen
    where canteen_id in
    <foreach collection="canteenIds" open="(" close=")" separator="," item="item">
      #{item}
    </foreach>
  </delete>
  <update id="updateCanteen">
    update canteen set
      canteen_id=#{canteenId}
    <if test="canteenLabel != null and canteenLabel!=''">
       ,canteen_label=#{canteenLabel}
    </if>
    <if test="canteenName != null and canteenName!=''">
       ,canteen_name=#{canteenName}
    </if>
    <if test="canteenDes != null and canteenDes!=''">
    ,canteen_des=#{canteenDes}
    </if>
      <if test="canteenImage != null and canteenImage!=''">
          ,canteen_image=#{canteenImage}
      </if>
    where canteen_id=#{canteenId}
  </update>
  <update id="updateCanteenTest">
    update canteen
    <trim prefix="SET" suffixOverrides=",">
      <if test="canteenLabel != null and canteenLabel!=''">
        canteen_label=#{canteenLabel},
      </if>
      <if test="canteenName != null and canteenName!=''">
        canteen_name=#{canteenName},
      </if>
      <if test="canteenDes != null and canteenDes!=''">
        canteen_des=#{canteenDes},
      </if>
      <if test="canteenImage != null and canteenImage!=''">
        canteen_image=#{canteenImage}
      </if>
    </trim>
    where canteen_id=#{canteenId}
  </update>
  <select id="selectByName" resultType="com.canteen.common.pojo.Canteen">
select
    <include refid="canteenColumns"></include>
    from canteen where canteen_name like #{canteenName}
  </select>

</mapper>